<h1>New credit card</h1>

<%= render "form", credit_card: @credit_card, button_text:"Create" %>

<br>

<!--<div>-->
  <%#= link_to "Back to credit cards", credit_cards_path %>
<!--</div>-->
<% if current_user.present? %>
  <%= link_to 'Back', my_account_path, class: "btn btn-primary" %>
<%end %>
