
<div class="about_section layout_padding " style="font-family: Verdana; background-color: #e6f2ff">
  <div class="container">
    <div class="about_section_main">
      <div class="row">
        <div class="col-md-6">
          <div class="about_taital_main">
            <br><br><br>
            <h1 class="about_taital" style="font-family: Lucida Handwriting">About Our Jewelry Store</h1>
            <p class="about_text">Welcome to our jewelry store, where we offer a wide variety of high-quality jewelry for every occasion. From classic pieces to the latest trends, we have something for everyone.</p>
            <br>
            <p class="about_text">  Our collection includes beautiful diamond engagement rings, sparkling earrings, statement necklaces, and elegant bracelets, all made with the finest materials and craftsmanship. We also offer a selection of men's jewelry, including stylish watches and cufflinks.</p>
            <div class="readmore-home"><a href="#">Read More</a></div>
            <br>

            <div class="btn btn-primary" >
              <%#= button_to "Sign In", new_user_session_path%>
              <%#= button_to "Shop Now", class: "btn btn-primary"%>
              Shop Now
            </div>

<!--            <button type="button", style="  background-color:  #8ab8ff;-->
<!--              margin: 0 auto;"> cevaaaa-->
              <%#= button_to "Shop Now" , class: "btn btn-primary btn-lg"%>
<!--            </button>-->

          </div>
        </div>
        <div class="col-md-6">
          <div><img src="images/jewelry.png" style="width:120%"></div>
          <%#= image_tag "jewelry.png", class: "custom", alt: "Your Company" %>

        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<h2 id="home-header1">Featured products</h2>

<br>

<div class="image-list-home">
  <ul>
    <li  id="home-list1">
      <img src="images/ring.jpg">

    </li>
    <li  id="home-list1">
      <img src="images/earrings.jpg">
    </li>
    <li  id="home-list1">
      <img src="images/bracelet.jpg">
    </li>
    <li  id="home-list1">
      <img src="images/necklace.jpg">
    </li>
  </ul>
</div>

<br><br><br>

<div class="image-list-home", style="background-color: #e6f2ff">
  <ul>
    <li  id="home-list2">
      <img src="images/worldwide_delivery.png">
    </li>
    <li  id="home-list2">
      <img src="images/money_back.png">
    </li>
    <li  id="home-list2">
      <img src="images/secure_payment.png">
    </li>
  </ul>
</div>

<br><br>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="about_taital_main">
        <br><br><br>
        <h3 class="about_taital" style="font-family: Lucida Handwriting">Send a gift to someone you adore</h3>
        <p class="about_text" style="font-family: Verdana">"Jewelry is the perfect gift to celebrate life's special moments."</p>
      </div>
    </div>
    <div class="col-md-5">
      <div><img src="images/gift.png" style="width:125%; height: auto"></div>
    </div>
  </div>
</div>

<br>
<br>
