
<%= form_for(@order) do |f| %>
<!--  <div class="field", style="width: 350px; margin: 0 auto;">-->
    <%#= f.text_field :tracking_number, autofocus: true, required: true, class: "form-control", placeholder: "Tracking Number"%>
<!--  </div>-->
  <br>
  <div class="field", style="width: 350px; margin: 0 auto; text-color: white;
    font-family: Verdana;">
    <%= f.submit "Ship Now!", class: "btn btn-primary-2 btn-block mb-4 btn-white-text" %>
  </div>
<% end %>