
<h1 style="font-family: Lucida Handwriting; text-align: center">Shipping Order?</h1>
<br>
<%= render 'form', order: @order %>

<br>
<!--<%#= link_to 'Show', @order %> |-->
<div style="font-family: Verdana; text-align: center; width: 350px; margin: 0 auto;">
  <%= link_to 'Back', orders_path,  class: "btn btn-primary btn-block mb-4" %>
</div>


<br><br>



<%#= render "form", order: @order %>

<!--<br>-->

<!--<div>-->
<!--  <%#= link_to "Show this order", @order %> |-->
  <%#= link_to "Back to orders", orders_path %>
<%#= render "form", order: @order %>

<!--<button type="button" id="generate-tracking-btn" class="btn btn-secondary btn-block mb-2">Generate Tracking Number</button>-->

<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $("#generate-tracking-btn").click(function() {-->
<!--            $.get("/orders/generate_tracking_number", function(response) {-->
<!--                $("#order_tracking_number").val(response);-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
<!--</div>-->
