@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.btn-primary {
  background-color:  #8ab8ff;
  margin: 0 auto;
}

.btn-primary:hover {
  background-color: #82adff
}

.btn-primary-2 {
  background-color:  #ffb3e6;
  color:white;
  margin: 0 auto;
  border-color: #ff66cc;
}

.btn-primary-2:hover {
  background-color: #ff99dd;
  color:white;
  border-color: #ff66cc;
}

.btn-delete {
  font-size: 12px;
  padding: 5px 10px;
  background-color: #ff8080;
  color:white;
  border-color: #ff4d4d;
}

.btn-delete:hover {
  font-size: 12px;
  background-color: #ff6666;
  color:white;
  border-color: #ff4d4d;
}

.btn-delete-index {
  background-color: #ffcccc;
  color:black;
  border-color: #ff9999;
}

.btn-delete-index:hover {
  background-color: #ffb3b3;
  border-color: #ff9999;
}

a.text-success {
  color: black;
}

a.text-success:hover {
  color:#82adff;
}




.main_sign_up {
  height: 95vh;
  background-image:image_url("sign_up_img.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Verdana;
  background-position: center;
  border: 0;
  margin-top: 0;
}

.button-container_home{
  display: flex;
  justify-content: center;
}
.dropdown:hover>.dropdown-menu {
  display: block;
  //background-color: #e6f2ff;
}

//.dropdown>.dropdown-toggle:active {
//  /*Without this, clicking will make it sticky*/
//  pointer-events: none;
//  background-color: #e6f2ff;
//}


ul.dropdown-menu li:hover {
  background-color: #e6f2ff;
}

#dropdown_li li{
  background-color: #e6f2ff;
}

.image-name {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
}




