<div class="main_sign_up" style="height: 100vh;">
  <br>
  <h1 style="font-family: Lucida Handwriting; text-align: center">New product</h1>

  <%= render "form", button_text:"Create" %>

  <br>

<!--  <div>-->
    <%#= link_to "Back to products", products_path %>
<!--  </div>-->
</div>
<br>